.metatavu-section-english {
  width: 100%;
  min-height: 50vh;
  background-image: url("../gfx/metatavu-english-bg.jpg");
  background-size: cover;
}

.metatavu-section-english > h1 {
  font-size: 34px;
}

.metatavu-english {
  padding-top: 2%;
  padding-bottom: 2%;
  width: 50%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
} 

@media only screen and (max-width: 1020px) {
  .metatavu-english {
    width: 80%;
  }
}

@media only screen and (max-width: 568px) {
  .metatavu-english {
    width: 90%;
  }
}